<div ng-controller="PurchaseController as pc">
    <div class="row">
        <div class="col-md-3">
            <p>Current Date: <span style="color: green">{{ pc.CurrentDate | date:'yyyy-MM-dd' }}</span></p>
            <p class="lead">Purchase Forms</p>
            <div class="list-group">
                <!-- <a ng-click="pc.refresh()" class="list-group-item list-group-item-warning">
                    <span style="font-weight: bold">Load Purchases</span><span class="badge badge-default badge-pill">{{pc.purchaseNum ? pc.purchaseNum : '0'}}</span>
                </a> -->
                <a ng-click="pc.load(undefined)" class="list-group-item">
                    <span style="font-weight: bold">New Form</span>
                </a>
            </div>
            <div class="list-group">
                <a ng-click="pc.load(purchase.key)" ng-repeat="purchase in pc.purchases" id="{{ purchase.address_number }} {{ purchase.street }}"
                class="{{purchase.key === pc.purchase.key ? 'list-group-item active' : 'list-group-item'}}">
                    {{ purchase.address_number }} {{ purchase.street }}
                </a>
            </div>
        </div>
        <div class="col-md-9">
            <form name="pc.purchaseForm">
              <h2>Purchase Information</h2>
              <p>{{ data }}</p>
              <div class="form-group">
                <label for="insurance_id">
                    <span ng-if="pc.purchase.insurance == 'Yes'" style="color:green">Have you called the insurance yet?</span>
                    <span ng-if="pc.purchase.insurance == 'No' || !pc.purchase.insurance" style="color:#cc0000">Have you called the insurance yet?</span>
                </label>
                <select class="form-control" id="insurance_id" name="insurance" ng-model="pc.purchase.insurance">
                  <option>Yes</option>
                  <option selected>No</option>
                </select>
              </div>
                <div class="form-group">
                <label for="address_id">
                    <span ng-if="pc.purchase.address_number" style="color:green">Address Number</span>
                    <span ng-if="!pc.purchase.address_number" style="color:#cc0000">Address Number (Required)</span>
                </label>
                <input value="{{ ::pc.purchase.address_number }}" type="number" class="form-control" ng-model="pc.purchase.address_number"
                name="address_number" id="address_id" ng-maxlength="100"
                ng-trim="true" ng-required="true" />
              </div>
              <div class="form-group">
                <label for="street_id">
                    <span ng-if="pc.purchase.street" style="color:green">Street Name</span>
                    <span ng-if="!pc.purchase.street" style="color:#cc0000">Street Name (Required)</span>
                </label>
                <input value="{{ ::pc.purchase.street }}"type="text" class="form-control"
                name="street" id="street_id" ng-maxlength="100" ng-model="pc.purchase.street"
                ng-trim="true" ng-required="true"/>
              </div>
              <div class="form-group">
                <label for="city_id">City</label>
                <input value="{{ ::pc.purchase.city }}" type="text" class="form-control"
                name="city" maxlength="100" id="city_id" ng-model="pc.purchase.city"
                 ng-trim="true" />
              </div>
              <div class="form-group">
                <label for="state_id">State</label>
                <input value="{{ ::pc.purchase.state | uppercase }}" type="text" class="form-control" ng-model="pc.purchase.state"
                name="state" id="state_id" maxlength="2" ng-trim="true" />
              </div>
              <div class="form-group">
                <label for="zip_id">Zip Code</label>
                <input value="{{ ::pc.purchase.zip }}" type="number" class="form-control" ng-model="pc.purchase.zip"
                name="zip" id="zip_id" ng-maxlength=5 ng-minlength=5 ng-trim="true"/>
              </div>
                <div class="form-group">
                <label for="partner_id">Partner</label>
                <input value="{{ ::pc.purchase.partner }}" type="text" class="form-control" ng-model="pc.purchase.partner"
                name="partner" id="partner_id" ng-maxlength="100" ng-trim="true"/>
              </div>
                <div class="row">
                  <div class="col-md-5">
                    <div class="form-group">
                        <label for="purchase_price_id">Initial Purchase Price: {{ pc.purchase.purchase_price | currency }}</label>
                        <input value="{{ ::pc.purchase_price }}" type="text" class="form-control" ng-model="pc.purchase.purchase_price"
                        name="purchase_price" id="purchase_price_id" ng-maxlength="100" ng-trim="true" />
                    </div>
                  </div>
                    <div class="col-md-5 pull-right">
                      <div class="form-group">
                        <label for="purchase_date_div">
                            <span ng-if="pc.purchase.purchase_date" style="color:green">Purchase Date: {{ pc.purchase.purchase_date | date: 'yyyy-MM-dd' }}</span>
                            <span ng-if="!pc.purchase.purchase_date" style="color:#cc0000">Purchase Date (Required)</span>
                        </label>
                        <div class="input-group date" id="purchase_date_div">
                            <input value="{{ ::pc.purchase.purchase_date }}" name="purchase_date" ng-model="pc.purchase.purchase_date"
                            datetime="yyyy-MM-dd" id="purchase_date_id" type="text" class="form-control" ng-trim="true" ng-required="true" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
                </div><!--row-->
                <div class="row">
                  <div class="col-md-5">
                    <div class="form-group">
                        <label for="sale_price_id">Final Sale Price: {{ pc.purchase.sale_price | currency }}</label>
                        <input value="{{ pc.purchase.sale_price }}" type="text" class="form-control" ng-model="pc.purchase.sale_price"
                        name="sale_price" id="sale_price_id"
                        ng-trim="true" ng-maxlength="100" />
                    </div>
                  </div>
                    <div class="col-md-5 pull-right">
                        <div class="form-group">
                        <label for="sale_date_div">Sale Date: {{ pc.purchase.sale_date | date: 'fullDate' }}</label>
                        <div class="input-group date" id="sale_date_div">
                            <input value="{{ purchase.sale_date }}" name="sale_date_name" id="sale_date_id" type="text" ng-model="pc.purchase.sale_date"
                            datetime="yyyy-MM-dd" class="form-control" ng-trim="true" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                        </div>
                    </div>
                </div><!--row-->
                <div class="row">
                    <div class="col-md-12">
                        <button id="save_purchase_id" type="submit" value="Save" ng-click="pc.save()" class="btn btn-success">Save</button>
                        <button id="delete_purchase_id" type="submit" value="Delete" ng-click="pc.delete()" class="btn btn-danger pull-right" ng-show="pc.purchase.key != null">Delete</button>
                    </div>
                </div>
                <div class="row" style="margin-top: 20px">
                    <div class="col-md-12">
                        <div class="panel panel-success">
                          <div class="panel-body">
                              <div ng-model="pc.message" class="message fadein fadeout">
                                  Status:
                                  <span style="font-weight: bold; color: {{ pc.message == 'Saved' ? 'green' : 'red' }}" ng-show="pc.showMessage">
                                    {{ pc.message }}
                                  </span>
                              </div>
                          </div>
                        </div>
                    </div>
                </div>
                <hr/>
              <h2>Notification Information</h2>
                <div ng-repeat="notification in pc.inNotifications">
                    <div class="row">
                      <div class="col-md-4">
                          <div class="form-group">
                            <label for="{{notification}}_date_div">{{notification}} Start Date</label>
                            <div class="input-group date" id="{{notification}}_date_div">
                                <input ng-model="pc.purchase.notifications[notification].date"
                                datetime="yyyy-MM-dd" name="{{notification}}_date_name" id="{{notification}}_date" type="text" class="form-control"/>
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                      </div>
                      <div class="col-md-4">
                          <div class="form-group">
                            <label for="{{notification}}_frequency">Frequency</label>
                            <select ng-model="pc.purchase.notifications[notification].frequency"
                            class="form-control" id="{{notification}}_frequency" name="{{notification}}_frequency_name">
                              <option>DAILY</option>
                              <option>WEEKLY</option>
                              <option>MONTHLY</option>
                            </select>
                          </div>
                      </div>
                      <div class="col-md-4">
                          <label for="{{notification}}_message">Notification Message</label>
                          <textarea ng-model="pc.purchase.notifications[notification].message" placeholder="Leave blank for default message"
                          class="form-control" id="{{notification}}_message" rows="3"></textarea>
                      </div>
                  </div><!--row-->
                  <hr/>
              </div>
          </form>
        </div>
    </div>
</div>
